<router-outlet></router-outlet>

<ul class="flex flex-row gap-4 list-group">
  <li *ngFor="let item of items" class="list-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{item.description}}</h6>
        <p class="card-text">€ {{item.price}}</p>
        <a class="card-link btn btn-primary" routerLink="{{item.id}}">Bekijk product</a>
        <a class="card-link btn btn-success" (click)="addToCart(item)">Toevoegen aan kar</a>
      </div>
    </div>
  </li>
</ul>
