<nav class="navigation__nav navbar navbar-expand-sm">
  <div class="container">
    <a routerLink="" class="navbar-brand text-light m-0 me-sm-3"><img src="assets/img/LOGO_CN.png"
                                                                      height="30" alt="Clean Nutition"></a>
    <button type="button" class="navbar-toggler" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed=true">
      <ul class="navbar-nav nav me-auto mb-2 mb-sm-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/store">
            <i class="bi bi-basket vAlignIcon pe-2"></i>Shop
          </a>
        </li>
      </ul>

      <div>
        <li>
          <a ngbDropdownItem role="button" class="dropdown-item text-white pe-4" routerLink="/store/cart">
          <i class="bi bi-cart vAlignIcon ms-2"></i><span>({{amountOfItemsInCart}})</span>
        </a></li>
      </div>

      <ul class="nav navbar-nav navbar-right" *ngIf="this.user">
        <div class="nav-item dropdown" ngbDropdown>
          <a class="btn btn-light dropdown-toggle d-block d-sm-none d-md-block" ngbDropdownToggle role="button">{{this.user.user.name}}<i
            class="bi bi-person-fill vAlignIcon ms-2"></i></a>
          <a class="btn btn-light dropdown-toggle d-none d-sm-block d-md-none" ngbDropdownToggle role="button"><i
            class="bi bi-person-fill vAlignIcon ms-2"></i></a>
          <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu style="z-index: 1025;">
            <div>
              <li><a ngbDropdownItem role="button" class="dropdown-item" routerLink="/me">Bewerk profiel
                <i class="bi bi-person-fill-gear vAlignIcon ms-2"></i>
              </a></li>
              <li><a ngbDropdownItem role="button" class="dropdown-item" (click)="onLogout()">Uitloggen
                <i class="bi bi-box-arrow-right vAlignIcon ms-2"></i>
              </a></li>
            </div>
          </div>
        </div>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!this.user">
        <div class="nav-item dropdown" ngbDropdown>
          <a class="btn btn-light dropdown-toggle d-block d-sm-none d-md-block" ngbDropdownToggle role="button">Profiel<i
            class="bi bi-person-fill vAlignIcon ms-2"></i></a>
          <a class="btn btn-light dropdown-toggle d-none d-sm-block d-md-none" ngbDropdownToggle role="button"><i
            class="bi bi-person-fill vAlignIcon ms-2"></i></a>
          <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu style="z-index: 1025;">
            <div>
              <li><a ngbDropdownItem role="button" class="dropdown-item" routerLink="/login">Log in
                <i class="bi bi-person-badge-fill vAlignIcon ms-2"></i>
              </a></li>
              <li><a ngbDropdownItem role="button" class="dropdown-item" routerLink="/register">Registreer
                <i class="bi bi-person-fill-add vAlignIcon ms-2"></i>
              </a></li>
            </div>
          </div>
        </div>
      </ul>

    </div>
  </div>
</nav>
