<router-outlet></router-outlet>
<app-navigation></app-navigation>
<app-toasts></app-toasts>
<nav class="navbar sticky-top bg-light">
  <div class="container d-flex justify-content-end">
    <div class="d-grid gap-2 d-md-flex justify-content-between">
      <button type="button" class="m-2 btn btn-outline-primary" routerLink="/users">
        <i class="bi bi-backspace"></i> &nbsp;
        Terug
      
      </button>
      <button type="submit" class="m-2 btn btn-primary" [disabled]="!registerForm.valid" (click)="createUser()">
        <i class="bi bi-person-add"></i> &nbsp;
        Creëer gebruiker
      </button>
    </div>
  </div>
</nav>

<div class="container container-top-margin">
  <h1>Gebruiker aanmaken</h1>
  <form [formGroup]="registerForm">
    <div class="mb-3">
      <label for="userEmailInput" class="form-label">E-mail addres</label>
      <input
        type="email"
        class="form-control"
        id="userEmailInput"
        formControlName="registerEmail"
      />
    </div>
    <div class="mb-3">
      <label for="userNameInput" class="form-label">Naam</label>
      <input
        type="email"
        class="form-control"
        id="userNameInput"
        formControlName="registerName"
      />
    </div>
    <div class="mb-3">
      <label for="userOrganizationInput" class="form-label">Organisatie</label>
      <input
        type="email"
        class="form-control"
        id="userOrganizationInput"
        formControlName="registerOrganization"
      />
    </div>
    <label for="userRoleInput" class="form-label">Rol</label>
    <select
      id="userRoleInput"
      class="form-select"
      aria-label="Default select example"
      formControlName="registerRole"
    >
      <option value="SPINE_USER">Spine gebruiker</option>
      <option value="SPINE_ADMIN">Spine administrator</option>
      <option value="CAREGIVER">Hulpverlener</option>
    </select>
  </form>
</div>
