<div class="vh-100 bg-secondary d-flex align-items-center justify-content-center">
  <app-toasts></app-toasts>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card shadow-lg border-0 my-5">
          <div class="card-body p-0">
            <div class="card-body p-0">
              <div class="p-3 p-sm-5">
                <h4 class="text-center text-dark">Nieuw wachtwoord</h4>
                <form
                  [formGroup]="changePasswordForm"
                  (ngSubmit)="onChangePassword()"
                >
                  <input
                    class="mb-3 form-control form-control-user"
                    type="text"
                    placeholder="Ontvangen code"
                    formControlName="resetToken"
                    name="resetToken"
                  />
                  <input
                    class="mb-3 form-control form-control-user"
                    type="password"
                    placeholder="Nieuw wachtwoord"
                    formControlName="newPassword"
                    name="newPassword"
                  />
                  <button
                    id="submitBtn"
                    class="btn btn-primary d-block btn-user w-100 mb-2"
                    type="submit"
                    [disabled]="!changePasswordForm.valid"
                  >
                  <span *ngIf="loading" class="spinner-grow" role="status"></span>
                  <div *ngIf="!loading">
                    <i class="bi bi-box-arrow-in-right"></i>
                    Veranderen maar!
                  </div>
                    
                  </button>
                </form>
                <div class="text-center">
                  <p class="small">
                    Verkeerde e-mail ingevoerd?
                    <a routerLink=".." class="text-decoration-none">
                      Stapje terug</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
