<router-outlet></router-outlet>
<div class="vh-100 bg-secondary d-flex align-items-center justify-content-center">
  <app-toasts></app-toasts>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card shadow-lg border-0 my-5">
          <div class="card-body p-0">
            <div class="p-3 p-sm-5">
              <h4 class="text-center text-dark">Wachtwoord vergeten?</h4>
              <p class="text-center text-dark mb-4">Ik help je even!</p>
              <form
                [formGroup]="changePasswordForm"
                (ngSubmit)="onRequestNewPassword()"
              >
                <input
                  class="mb-3 form-control form-control-user"
                  type="email"
                  placeholder="E-mail adres"
                  formControlName="email"
                  name="email"
                  ngModel
                  [email]="true"
                />
                <button
                  id="submitBtn"
                  class="btn btn-primary d-block btn-user w-100 mb-2"
                  type="submit"
                  [disabled]="!changePasswordForm.valid"
                >
                <span *ngIf="loading" class="spinner-grow" role="status"></span>
                <div *ngIf="!loading">
                  <i class="bi bi-box-arrow-in-right"></i>
                  Vraag een nieuw wachtwoord aan
                </div>
                </button>
              </form>
              <div class="text-center">
                <p class="small">
                  Weet je je wachtwoord weer ga dan een:
                  <a class="text-decoration-none" routerLink=".."
                    >Stapje terug</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
