<router-outlet></router-outlet>
<app-navigation></app-navigation>
<app-toasts></app-toasts>
<nav class="navbar sticky-top bg-light">
  <div class="container d-flex justify-content-end">
    <button
      type="submit"
      class="m-2 btn btn-outline-primary"
      routerLink="/users"
    >
      Annuleer
    </button>
    <button type="submit" class="m-2 btn btn-primary updateFinalButton" (click)="updateUserData()">
      Update {{ this.user$.name }}'s profiel
    </button>
  </div>
</nav>
<div class="container container-top-margin">
  <div *ngIf="user$">
    <div class="table-responsive">
      <h1>Gebruiker {{ this.user$.name }} aanpassen</h1>
      <form [formGroup]="updateUserForm">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Attribuut</th>
              <th scope="col">Huidige waardes</th>
              <th scope="col">Nieuwe waardes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Naam</th>
              <td>{{ user$.name }}</td>
              <td>
                <input
                  type="email"
                  class="form-control"
                  id="updateUserName"
                  formControlName="updateUserName"
                />
              </td>
            </tr>
            <tr>
              <th>Rol</th>
              <td>{{ transformText.userRoleToText(user$.role) }}</td>
              <td>
                <select
                  id="updateUserRole"
                  class="form-select updateUserRole"
                  aria-label="Default select example"
                  formControlName="updateUserRole"
                >
                  <option value="SPINE_USER">Spine gebruiker</option>
                  <option value="SPINE_ADMIN">Spine administrator</option>
                  <option value="CAREGIVER">Hulpverlener</option>
                </select>
              </td>
            </tr>
            <tr>
              <th>Organisatie</th>
              <td>{{ user$.organization }}</td>
              <td>
                <input
                  type="email"
                  class="form-control"
                  id="updateUserOrganization"
                  formControlName="updateUserOrganization"
                />
              </td>
            </tr>
            <tr>
              <th>Gebruiks status</th>
              <td>{{ transformText.userStatusToText(user$.enabled!) }}</td>
              <td>
                <select
                  id="updateUserStatus"
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="updateUserEnabled"
                >
                  <option value="true">Actief</option>
                  <option value="false">Inactief</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
